table .dropdown-button {

    background-color: cornflowerblue;  
    
}

#emptyTR {
   
    text-align:center; 
    vertical-align:middle;
}

#nav{

    background-color: #1d6fb7;
    margin-bottom: 40px;
}

#cadastrar {
    background-color: #1d6fb7;
}

#tabela {
    font-size: 12pt;
}
#tabela thead tr {

    background-color: #1d6fb7;
    border-radius: 30px;
    font-weight: bold;
    color:white;
    
   
}

table.highlight tbody tr:hover {
    background-color: aliceblue !important;
    color:darkblue;
    
}
